@import "./fonts.css";

/* Basic CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #FEFBF0;
    height: 100vh;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: 100%;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

/* Actual CSS */

body {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 120rem;
}

.hidden {
    display: none;
}

.left-sidebar {
    width: 24vw;
    background-color: #F2F6D0;

}

.logo-wrapper {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.logo {
    width: 100%;
    height: auto;
}

h2 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: #5F5F5E;

}

.left-sidebar-container {
    width: 83%;
    margin: 0 auto;

}

.btn-new-project {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 52px;
    border: solid 1px #5F5F5E;
    border-radius: 20px;
    background-color: #F7E9BB;
    margin-bottom: 2.2rem;
    cursor: pointer;
    width: 100%;
}

.btn-new-project:hover {
    background-color: #FDE598;
    cursor: pointer;
}


.icon-plus {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;

}

.project-item {
    border-bottom: 1px solid #5F5F5E;
    padding-bottom: 5px;
}

.project-item.active {
    border-radius: 20px;
    background-color: #F5D569;
    padding: 18px 52px;
}

.project-item:hover {
    border-radius: 20px;
    background-color: #F5D569;
    padding: 18px 52px;
    background-color: #F2DC93;
    cursor: pointer;
}

.main-content {
    width: 100%;
}

.project-header {
    background-color: #F7E9BB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120pxS;
}

p {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    color: #5F5F5E;


}

.btn-icon-delete {
    width: 40px;
    margin: 0 1rem;
}

.current-project-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    color: black;
    margin-left: 1rem;
}


.icon-hash {
    margin-right: 0.5rem;
    background-color: #F5D569;
    border-radius: 10px;
    padding: 1px 12px;
}

.todo-container {
    width: 100%;
    height: 100%;

}

.task-input-placeholder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4.2rem;
    width: 100%;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    background-color: #EAE6D8;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 1.1rem;
    margin-top: 0.6rem;
}

.task-input-placeholder:hover {
    background-color: #DBD8CD;
    cursor: pointer;
}

.todo-element-container {
    margin: 0 1.25rem;
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    width: 100%;
    color: black;
    background-color: #F7E9BB;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 1.1rem;
    margin-top: 1.3rem;
}

.task-card:hover {
    background-color: #FDE598;
    cursor: pointer;
}

.task-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;

}

.task-due-date {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
}

.checkbox-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FEFBF0;
    margin-right: 0.5rem;
}

.task-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.task-content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.badge {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    color: white;

}

.badge--red {
    background-color: #FF1919;
}

.badge--yellow {
    background-color: #F5D569;
}

.badge--green {
    background-color: #65D38D;
}

.badge--grey {
    background-color: #C9C9C9;
}

.task-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    gap: 1.25rem;
}

.btn-edit:hover {
    background-color: #FFC500;
    cursor: none;
}

.btn-delete:hover {
    background-color: #FF1919;
    cursor: none;
}

.task-card--completed {
    background-color: #F4EEDD;
    color: #5F5F5E;
    text-decoration: line-through;
}

.task-card--completed:hover {
    background-color: #DBD8CD;
    cursor: pointer;
}

.completed {
    background-color: #ACA9A1;
}

.input-panel {
    position: relative;
    width: 24vw;
    background-color: #F2F6D0;
    display: flex;
    justify-content: center;
}

.main-content-container {
    display: flex;
    min-height: 88.5vh;
}

.btn-close-panel {
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.editor-form {
    margin-top: 6.8rem;
    width: 310px;
}

.form-group {
    background-color: #EAE6D8;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    border: solid 1px black;
    box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
    
}

.input-txt{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker-trigger {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}



.calender-icon {
    margin-right: 0.5rem;
}

.color-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #FF1919;
}

.color-dot--red {
    background-color: #FF1919;

}

.color-dot--yellow {
    background-color: #F5D569;

}

.color-dot--green {
    background-color: #65D38D;

}

.select-label {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-save {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
    border: solid 1px black;
    border-radius: 10px;
    background-color: #F5D569;
    padding: 18px 26px;
    margin-right: 1.5rem;
}

.btn-save:hover {
    background-color: #F9C410;
    cursor: pointer;
}

.btn-delete-task {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    color: #FF2727;
    box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
    border: solid 1px #FF2727;
    border-radius: 10px;
    background-color: #EDEAE2;
    padding: 18px 26px;
}

.btn-delete-task:hover {
    background-color: #FF2727;
    color: white;
    border: solid 1px white;

    cursor: pointer;
}