@import "./fonts.css";

/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fefbf0;
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

/* Actual CSS */

body {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 120rem;
}

.hidden {
  display: none !important;
}

.left-sidebar {
  width: 24vw;
  background-color: #f2f6d0;
}

.logo-wrapper {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.logo {
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: #5f5f5e;
}

.left-sidebar-container {
  width: 83%;
  margin: 0 auto;
}

.btn-new-project {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 52px;
  border: solid 1px #5f5f5e;
  border-radius: 20px;
  background-color: #f7e9bb;
  margin-bottom: 2.2rem;
  cursor: pointer;
  width: 100%;
}

.btn-new-project:hover {
  background-color: #fde598;
  cursor: pointer;
}

.icon-plus {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}

.project-item {
  border-bottom: 1px solid #5f5f5e;
  padding-bottom: 5px;
}

.project-item.active {
  border-radius: 20px;
  background-color: #f5d569;
  padding: 18px 52px;
}

.project-item:hover {
  border-radius: 20px;
  background-color: #f5d569;
  padding: 18px 52px;
  background-color: #f2dc93;
  cursor: pointer;
}

.main-content {
  width: 100%;
}

.project-header {
  background-color: #f7e9bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.project-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120pxS;
}

p {
  font-size: 1.5rem;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  color: #5f5f5e;
}

.btn-icon-delete {
  width: 40px;
  margin: 0 1rem;
}

.current-project-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  color: black;
  margin-left: 1rem;
}

.icon-hash {
  margin-right: 0.5rem;
  background-color: #f5d569;
  border-radius: 10px;
  padding: 1px 12px;
}

.todo-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.task-input-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.2rem;
  width: 100%;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  background-color: #eae6d8;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 1.1rem;
  margin-top: 0.6rem;
}

.task-input-placeholder:hover {
  background-color: #dbd8cd;
  cursor: pointer;
}

.todo-element-container {
  margin: 0 1.25rem;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  width: 100%;
  color: black;
  background-color: #f7e9bb;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 1.1rem;
  margin-top: 1.3rem;
}

.task-card:hover {
  background-color: #fde598;
  cursor: pointer;
}

.task-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.task-due-date {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
}

.checkbox-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fefbf0;
  margin-right: 0.5rem;
}

.task-content-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.task-content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.badge {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: white;
}

.badge--red {
  background-color: #ff1919;
}

.badge--yellow {
  background-color: #f5d569;
}

.badge--green {
  background-color: #65d38d;
}

.badge--grey {
  background-color: #c9c9c9;
}

.task-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  gap: 1.25rem;
}

.btn-edit:hover {
  background-color: #ffc500;
  cursor: none;
}

.btn-delete:hover {
  background-color: #ff1919;
  cursor: none;
}

.task-card--completed {
  background-color: #f4eedd;
  color: #5f5f5e;
  text-decoration: line-through;
}

.task-card--completed:hover {
  background-color: #dbd8cd;
  cursor: pointer;
}

.completed {
  background-color: #aca9a1;
}

.pannel {
  position: relative;
  width: 24vw;
  background-color: #f2f6d0;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 100rem;
  box-sizing: border-box;
}

.main-content-container {
  display: flex;
  min-height: 88.5vh;
  height: calc(100vh - 7rem);
  overflow: hidden;
}

.btn-close-panel {
  position: absolute;
  top: 1.1rem;
  right: 1.1rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.editor-form {
  margin-top: 6.8rem;
  width: 310px;
}

.form-group {
  background-color: #eae6d8;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  border: solid 1px black;
  box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
}

.input-txt {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
}

.custom-select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker-trigger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.calender-icon {
  margin-right: 0.5rem;
}

.color-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #ff1919;
}

.color-dot--red {
  background-color: #ff1919;
}

.color-dot--yellow {
  background-color: #f5d569;
}

.color-dot--green {
  background-color: #65d38d;
}

.select-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-save {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px black;
  border-radius: 10px;
  background-color: #f5d569;
  padding: 18px 26px;
  margin-right: 1.5rem;
}

.btn-save:hover {
  background-color: #f9c410;
  cursor: pointer;
}

.dlt-btn {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  color: #ff2727;
  box-shadow: 0px 4.06px 4.06px 0px rgba(0, 0, 0, 0.25);
  border: solid 1px #ff2727;
  border-radius: 10px;
  background-color: #edeae2;
  padding: 18px 26px;
}

.dlt-btn:hover {
  background-color: #ff2727;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}

label {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #5f5f5e;
  display: block;
  margin-bottom: 0.5rem;
}

.panel-actions {
  margin-bottom: 0;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.select-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
}

.task-details-panel {
  padding: 6rem 1.5rem;
}

.details-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info-label {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #5f5f5e;
  display: block;
  margin-bottom: 0.5rem;
}

.info-value {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
  margin-bottom: 1rem;
}

.info-value,
.info-label {
  display: flex;
  align-items: center;
}
